* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
:root {
    --color: #067720;
}
a {
    text-decoration: none;
    color: #fff;
}
body {
    background-color: #e4efe7;
}
header {
    width: 100%;
    height: 200px;
    background-image: url("/resources/images/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 5px 10px #000;
}
.banner-div{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-title{
    text-align: center;
    color: #065520;
}
.banner-img{
    width: 80px;
}
hr {
    margin: 0 auto;
    border-color: var(--color);
    width: 60%;
}
footer{
    background-color: var(--color);
    padding: 30px;
    color: #ccc;
}
.footer-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-direction{
    width: 25%;
    margin: 10px;
}
.footer-contacs{
    margin: 10px;
}
.footer-title{
    margin: 10px;
    text-align: center;
}
main {
    padding: 40px;
    width: 100%;
}
.main-section {
    border: 5px solid var(--color);
    border-radius: 15px;
    background-color: #c2cdc5;
}
.div-section {
    display: flex;
    padding: 40px;
    width: 100%;
}
.div-section:nth-child(1){
    align-items: center;
}
.div-section:nth-child(3){
    justify-content: space-around;
    flex-wrap: wrap;
}
.slider-container{
    width: 800px;
    overflow: hidden;
}
.img-container{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 12s infinite alternate ease-in-out;
}
@keyframes slide {
    0% {margin-left: 0%;}
    20% {margin-left: 0%;}

    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    100% {margin-left: -300%;}
}
.img-container div{
    width: 800px;
    height: 400px;
    background-size: cover;
    background-position: center;
    z-index: 3;
}
.background-gradient{
    width: 800px;
    position: absolute;
    height: 400px;
    z-index: 4;
    background-image: linear-gradient(to right, transparent 50%, #c2cdc5);
}
.img-container div:nth-child(1){
    background-image: url("/resources/images/slider_principal_1.jpg");
}
.img-container div:nth-child(2){
    background-image: url("/resources/images/slider_principal_2.jpg");
}
.img-container div:nth-child(3){
    background-image: url("/resources/images/slider_principal_3.jpg");
}
.img-container div:nth-child(4){
    background-image:  url("/resources/images/slider_principal_4.jpg");
}
.text-resume{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 400px;
    width: 80%;
    z-index: 5;
}
.text-resume p{
    font-size: 30px;
    width: 50%;
    font-weight: bold;
}
.article-container {
    background-repeat: no-repeat;
    background-position: center;
    margin: 20px 0;
    border-radius: 10px;
    width: 260px;
    height: 150px;
    box-shadow: 0 0 15px #000;
    transition: all 0.2s;
}
.menciones .article-container {
    background-size: 100%;
    background-image: url("/resources/images/menciones.png");
}
.menciones .article-container:hover {
    background-size: 110%;
}
.nosotros .article-container {
    background-size: 50%;
    background-image: url("/resources/images/nosotros.png");
}
.nosotros .article-container:hover {
    background-size: 60%;
}
.estructura .article-container {
    background-size: 60%;
    background-image: url("/resources/images/estructura_fisica.png");
}
.estructura .article-container:hover {
    background-size: 70%;
}
.servicios .article-container{
    background-size: 50%;
    background-image: url("/resources/images/public-service.png");
}
.servicios .article-container:hover{
    background-size: 60%;
}
.galeria .article-container{
    background-image: url("/resources/images/galeria.png");
    background-size: 50%;
}
.galeria .article-container:hover{
    background-size: 60%;
}
.article-content {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    transition: all 0.2s;
}
.article-content div {
    display: flex;
    width: 100%;
}
.article-content div p {
    margin: 0 10px;
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    font-size: 17px;
    font-weight: bold;
    padding: 5px;
    background-color: #0005;
    display: none;
}
.article-content div {
    display: flex;
    justify-content: center;
}
.article-content:hover {
    background-color: #0006;
}
.article-content:hover p {
    display: block;
}
.article-content p:hover {
    background-color: #0002;
}
.article-title {
    text-align: center;
    margin-bottom: 15px;
}
